on boot
    write /sys/devices/platform/android_usb/usb_function_switch 130
    setprop sys.usb.state ${sys.usb.config}
    start choice_fn

on property:ro.bootmode=offmode_charging
    stop recovery

service choice_fn /sbin/choice_fn
    oneshot
    seclabel u:r:recovery:s0

service power_test /sbin/power_test
    disabled
    oneshot
    seclabel u:r:recovery:s0

service offmode_charging /sbin/offmode_charging
    disabled
    seclabel u:r:healthd:s0

service detect_key /sbin/detect_key
    disabled
    oneshot
    seclabel u:r:healthd:s0