on boot
    write /sys/devices/platform/android_usb/usb_function_switch 130
    setprop sys.usb.state ${sys.usb.config}
    start choice_fn

service choice_fn /sbin/choice_fn
    disabled

service power_test /sbin/power_test
    disabled

service offmode_charging /sbin/offmode_charging
    disabled

service detect_key /sbin/detect_key
    disabled